@import './../../App.scss';

.album-preview {
    border: 2px solid #f2f7fd;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px 10px 20px;
    font-family: 'Baloo Tammudu 2';
    line-height: 1.8rem;
    overflow: hidden;

    .cover {
        position: relative;
        width: calc(((100vw - 400px - 200px - 9rem) / 4) - 60px);
        height: calc(((100vw - 400px - 200px - 9rem) / 4) - 60px);
        border-radius: 1.5rem;
        transition: all .3s ease;
        cursor: pointer;
        background-repeat: no-repeat;
        background-size: cover;

        .play-button {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }

        &:hover {
            transform: scale(1.05);
            box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.36);
        }
    }

    .album-infos {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-top: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 0.9rem;
        font-weight: 500;
        color: $color-secondary;
        line-height: 1.4rem;

        .album-name {
            font-size: 1rem;
            color: $color-primary;
            font-weight: 700;
        }
    
        .album-artist {
            font-size: 0.9rem;
            font-weight: 500;
        }
    
        .album-tracks, .album-release-date {
            font-size: 0.9rem;
            font-weight: 500;
        }
    }
}

@media screen and (min-width: 1100px) and (max-width: 1450px) {
    .album-preview {
        .cover {
            width: calc(((100vw - 200px - 200px - 9rem) / 3) - 60px)!important;
            height: calc(((100vw - 200px - 200px - 9rem) / 3) - 60px)!important;
        }
    }
}

@media screen and (max-width: 1100px) {
    .album-preview {
        .cover {
            width: calc(((100vw - 200px - 9rem) / 4) - 60px)!important;
            height: calc(((100vw - 200px - 9rem) / 4) - 60px)!important;
        }
    }
}

@media screen and (max-width: 1000px) {
    .album-preview {
        .cover {
            width: calc(((100vw - 200px - 9rem) / 3) - 60px)!important;
            height: calc(((100vw - 200px - 9rem) / 3) - 60px)!important;
        }
    }
}

@media screen and (max-width: 850px) {
    .album-preview {
        .cover {
            width: calc(((100vw - 200px - 9rem) / 2) - 60px)!important;
            height: calc(((100vw - 200px - 9rem) / 2) - 60px)!important;
        }
    }
}

@media screen and (max-width: 670px) {
    .album-preview {
        .cover {
            width: calc(((100vw - 200px - 9rem) / 1) - 60px)!important;
            height: calc(((100vw - 200px - 9rem) / 1) - 60px)!important;
        }
    }
}